settings set target.x86-disassembly-flavor intel
settings set prompt "(slyazid) "
script print "                                                                                                               "
script print "\x1b[1;32m                                                                                                      dddddddd "
script print "                 lllllll                                                            iiii              d::::::d "
script print "                 l:::::l                                                           i::::i             d::::::d "
script print "                 l:::::l                                                            iiii              d::::::d "
script print "                 l:::::l                                                                              d:::::d  "
script print "    ssssssssss    l::::lyyyyyyy           yyyyyyyaaaaaaaaaaaaa   zzzzzzzzzzzzzzzzziiiiiii     ddddddddd:::::d  "
script print "   ss::::::::::s   l::::l y:::::y         y:::::y a::::::::::::a  z:::::::::::::::zi:::::i   dd::::::::::::::d "
script print "ss:::::::::::::s  l::::l  y:::::y       y:::::y  aaaaaaaaa:::::a z::::::::::::::z  i::::i  d::::::::::::::::d  "
script print "s::::::ssss:::::s l::::l   y:::::y     y:::::y            a::::a zzzzzzzz::::::z   i::::i d:::::::ddddd:::::d  "
script print " s:::::s  ssssss  l::::l    y:::::y   y:::::y      aaaaaaa:::::a       z::::::z    i::::i d::::::d    d:::::d  "
script print "   s::::::s       l::::l     y:::::y y:::::y     aa::::::::::::a      z::::::z     i::::i d:::::d     d:::::d  "
script print "      s::::::s    l::::l      y:::::y:::::y     a::::aaaa::::::a     z::::::z      i::::i d:::::d     d:::::d  "
script print "ssssss   s:::::s  l::::l       y:::::::::y     a::::a    a:::::a    z::::::z       i::::i d:::::d     d:::::d  "
script print "s:::::ssss::::::sl::::::l       y:::::::y      a::::a    a:::::a   z::::::zzzzzzzzi::::::id::::::ddddd::::::dd "
script print "s::::::::::::::s l::::::l        y:::::y       a:::::aaaa::::::a  z::::::::::::::zi::::::i d:::::::::::::::::d "
script print " s:::::::::::ss  l::::::l       y:::::y         a::::::::::aa:::az:::::::::::::::zi::::::i  d:::::::::ddd::::d "
script print "  sssssssssss    llllllll      y:::::y           aaaaaaaaaa  aaaazzzzzzzzzzzzzzzzziiiiiiii   ddddddddd   ddddd "
script print "                              y:::::y                                                                          "
script print "                             y:::::y                                                                           "
script print "                            y:::::y                                                                            "
script print "                           y:::::y                                                                             "
script print "                          yyyyyyy                                                                             \x1b[0;0m"
